@model IEnumerable<QuizManager.WebApp.Models.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Go to Quiz", "GetAllQuestionsByCategoryId", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }) |
                @Html.ActionLink("Alter Questions", "GetListOfQuestions", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
