@model QuizManager.WebApp.Models.QuestionsViewModel

@{
    ViewData["Title"] = "GetScore";
}


<h2>@Model.Correct</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerInput)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerInput)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="GetAllQuestionsByCategoryId" asp-route-id="CategoryId">Back to List</a> |
    <a asp-action="GetAllQuestionsByCategoryId" asp-route-id="@Model.CategoryId">Edit</a>
</div>
