@model QuizManager.WebApp.Models.QuestionsViewModel

@{
    ViewData["Title"] = "Questions";
}

<h2>Questions</h2>

<h4>QuestionsViewModel</h4>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Questions">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Question)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OptionA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OptionB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OptionC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OptionD)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.AnswerInput)
                        </th>

                        <th>

                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <div class="form-group">
                        @foreach (var item in Model.ListOfQuestions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.OptionA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OptionB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OptionC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OptionD)

                                </td>
                                <td>
                                    @Html.TextBoxFor(modelItem=>item.AnswerInput)
                                </td>

                                <td>
                                    @*<div class="form-group">
            <input type="submit" value="Get Answer" asp-action="GetScore" asp-route-id="@item.Id" formmethod="post" class="btn btn-default" />
        </div>*@

                                    @Html.ActionLink("Edit", "GetScore", new {  id=item.Id, AnswerInput=Model.AnswerInput }) |

                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="GetScore" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>

                         
                        }

                    </div>
                </tbody>
            </table>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
